html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	background-color: #1a1a1a;
}
#contact {
	font-size: 25px;
	text-align: center;
	margin-top: 100px;
	color: #ff0066;
}
#nav-bar {
	width: 100%;
	height: 80px;
	background-color: #be3144;
	position: fixed;
	top: 0;
}
.nav-item {
	text-decoration: none;
	font-size: 20px;
	color: white;
	float: right;
	padding: 30px;

}
.nav-item:hover {
	background-color: #45567d;
 	transition: ease all 0.7s
}
#about {
	color: #d9d9d9;
	margin: 50px;
	
}
p{
	font-size: 20px;
	font-family: time-roman;
}
h2 {
	margin-right: 20px;
	color:  #4dffff;
	align-items: center;
	margin-top: 50px;
	border-bottom: 2px solid gray;
}
#media {
	width: 100%;
	height: 80vh;
	background-color: red;
	margin-top: 20px;

}
#Gallery {
	width: 100%;
	height: 40vh;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-around;
	flex-flow: wrap;
	
}
.video {
	width: 40%;
	height: 40vh;
	background-color: black;
	margin-top: 20px;

}
.img {
	width: 23%;
	height: 80%;
	margin-top: 20px;
}
#Work-Experience {
	width: 100%;
	height: 100vh;
	background-color: skyblue;
	display: flex;
	justify-content: space-around;
	flex-flow: wrap;
	padding: 20px;
}
.project {
	width: 30%;
	height: 40vh;
	background-color: white;

}
#Reference {
	width: 100%;
	height: 50vh;
	color: blue;
	padding: 20px;
	background-color: Aliceblue;
}
.project-name {
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	background-color: maroon;
	color: white;
	padding: 20px;
}